Podfile.lock
Pods/Manifest.lock
Pods/Expecta/LICENSE
Pods/Expecta/README.md
Pods/Expecta+Snapshots/ExpectaObject+FBSnapshotTest.h
Pods/Expecta+Snapshots/ExpectaObject+FBSnapshotTest.m
Pods/Expecta+Snapshots/EXPMatchers+FBSnapshotTest.h
Pods/Expecta+Snapshots/EXPMatchers+FBSnapshotTest.m
Pods/Expecta+Snapshots/LICENSE.md
Pods/Expecta+Snapshots/README.md
Pods/Expecta/Expecta/EXPBlockDefinedMatcher.h
Pods/Expecta/Expecta/EXPBlockDefinedMatcher.m
Pods/Expecta/Expecta/EXPDefines.h
Pods/Expecta/Expecta/EXPDoubleTuple.h
Pods/Expecta/Expecta/EXPDoubleTuple.m
Pods/Expecta/Expecta/Expecta.h
Pods/Expecta/Expecta/ExpectaObject.h
Pods/Expecta/Expecta/ExpectaObject.m
Pods/Expecta/Expecta/ExpectaSupport.h
Pods/Expecta/Expecta/ExpectaSupport.m
Pods/Expecta/Expecta/EXPExpect.h
Pods/Expecta/Expecta/EXPExpect.m
Pods/Expecta/Expecta/EXPFloatTuple.h
Pods/Expecta/Expecta/EXPFloatTuple.m
Pods/Expecta/Expecta/EXPMatcher.h
Pods/Expecta/Expecta/EXPUnsupportedObject.h
Pods/Expecta/Expecta/EXPUnsupportedObject.m
Pods/Expecta/Expecta/NSObject+Expecta.h
Pods/Expecta/Expecta/NSValue+Expecta.h
Pods/Expecta/Expecta/NSValue+Expecta.m
Pods/Expecta/Expecta/Matchers/EXPMatcherHelpers.h
Pods/Expecta/Expecta/Matchers/EXPMatcherHelpers.m
Pods/Expecta/Expecta/Matchers/EXPMatchers+beCloseTo.h
Pods/Expecta/Expecta/Matchers/EXPMatchers+beCloseTo.m
Pods/Expecta/Expecta/Matchers/EXPMatchers+beFalsy.h
Pods/Expecta/Expecta/Matchers/EXPMatchers+beFalsy.m
Pods/Expecta/Expecta/Matchers/EXPMatchers+beginWith.h
Pods/Expecta/Expecta/Matchers/EXPMatchers+beginWith.m
Pods/Expecta/Expecta/Matchers/EXPMatchers+beGreaterThan.h
Pods/Expecta/Expecta/Matchers/EXPMatchers+beGreaterThan.m
Pods/Expecta/Expecta/Matchers/EXPMatchers+beGreaterThanOrEqualTo.h
Pods/Expecta/Expecta/Matchers/EXPMatchers+beGreaterThanOrEqualTo.m
Pods/Expecta/Expecta/Matchers/EXPMatchers+beIdenticalTo.h
Pods/Expecta/Expecta/Matchers/EXPMatchers+beIdenticalTo.m
Pods/Expecta/Expecta/Matchers/EXPMatchers+beInstanceOf.h
Pods/Expecta/Expecta/Matchers/EXPMatchers+beInstanceOf.m
Pods/Expecta/Expecta/Matchers/EXPMatchers+beInTheRangeOf.h
Pods/Expecta/Expecta/Matchers/EXPMatchers+beInTheRangeOf.m
Pods/Expecta/Expecta/Matchers/EXPMatchers+beKindOf.h
Pods/Expecta/Expecta/Matchers/EXPMatchers+beKindOf.m
Pods/Expecta/Expecta/Matchers/EXPMatchers+beLessThan.h
Pods/Expecta/Expecta/Matchers/EXPMatchers+beLessThan.m
Pods/Expecta/Expecta/Matchers/EXPMatchers+beLessThanOrEqualTo.h
Pods/Expecta/Expecta/Matchers/EXPMatchers+beLessThanOrEqualTo.m
Pods/Expecta/Expecta/Matchers/EXPMatchers+beNil.h
Pods/Expecta/Expecta/Matchers/EXPMatchers+beNil.m
Pods/Expecta/Expecta/Matchers/EXPMatchers+beSubclassOf.h
Pods/Expecta/Expecta/Matchers/EXPMatchers+beSubclassOf.m
Pods/Expecta/Expecta/Matchers/EXPMatchers+beSupersetOf.h
Pods/Expecta/Expecta/Matchers/EXPMatchers+beSupersetOf.m
Pods/Expecta/Expecta/Matchers/EXPMatchers+beTruthy.h
Pods/Expecta/Expecta/Matchers/EXPMatchers+beTruthy.m
Pods/Expecta/Expecta/Matchers/EXPMatchers+conformTo.h
Pods/Expecta/Expecta/Matchers/EXPMatchers+conformTo.m
Pods/Expecta/Expecta/Matchers/EXPMatchers+contain.h
Pods/Expecta/Expecta/Matchers/EXPMatchers+contain.m
Pods/Expecta/Expecta/Matchers/EXPMatchers+endWith.h
Pods/Expecta/Expecta/Matchers/EXPMatchers+endWith.m
Pods/Expecta/Expecta/Matchers/EXPMatchers+equal.h
Pods/Expecta/Expecta/Matchers/EXPMatchers+equal.m
Pods/Expecta/Expecta/Matchers/EXPMatchers+haveCountOf.h
Pods/Expecta/Expecta/Matchers/EXPMatchers+haveCountOf.m
Pods/Expecta/Expecta/Matchers/EXPMatchers+match.h
Pods/Expecta/Expecta/Matchers/EXPMatchers+match.m
Pods/Expecta/Expecta/Matchers/EXPMatchers+postNotification.h
Pods/Expecta/Expecta/Matchers/EXPMatchers+postNotification.m
Pods/Expecta/Expecta/Matchers/EXPMatchers+raise.h
Pods/Expecta/Expecta/Matchers/EXPMatchers+raise.m
Pods/Expecta/Expecta/Matchers/EXPMatchers+raiseWithReason.h
Pods/Expecta/Expecta/Matchers/EXPMatchers+raiseWithReason.m
Pods/Expecta/Expecta/Matchers/EXPMatchers+respondTo.h
Pods/Expecta/Expecta/Matchers/EXPMatchers+respondTo.m
Pods/Expecta/Expecta/Matchers/EXPMatchers.h
Pods/FBSnapshotTestCase/LICENSE
Pods/FBSnapshotTestCase/README.md
Pods/FBSnapshotTestCase/FBSnapshotTestCase/FBSnapshotTestCase.h
Pods/FBSnapshotTestCase/FBSnapshotTestCase/FBSnapshotTestCase.m
Pods/FBSnapshotTestCase/FBSnapshotTestCase/FBSnapshotTestCasePlatform.h
Pods/FBSnapshotTestCase/FBSnapshotTestCase/FBSnapshotTestCasePlatform.m
Pods/FBSnapshotTestCase/FBSnapshotTestCase/FBSnapshotTestController.h
Pods/FBSnapshotTestCase/FBSnapshotTestCase/FBSnapshotTestController.m
Pods/FBSnapshotTestCase/FBSnapshotTestCase/Categories/UIApplication+StrictKeyWindow.h
Pods/FBSnapshotTestCase/FBSnapshotTestCase/Categories/UIApplication+StrictKeyWindow.m
Pods/FBSnapshotTestCase/FBSnapshotTestCase/Categories/UIImage+Compare.h
Pods/FBSnapshotTestCase/FBSnapshotTestCase/Categories/UIImage+Compare.m
Pods/FBSnapshotTestCase/FBSnapshotTestCase/Categories/UIImage+Diff.h
Pods/FBSnapshotTestCase/FBSnapshotTestCase/Categories/UIImage+Diff.m
Pods/FBSnapshotTestCase/FBSnapshotTestCase/Categories/UIImage+Snapshot.h
Pods/FBSnapshotTestCase/FBSnapshotTestCase/Categories/UIImage+Snapshot.m
Pods/Headers/Private/Expecta/EXPBlockDefinedMatcher.h
Pods/Headers/Private/Expecta/EXPDefines.h
Pods/Headers/Private/Expecta/EXPDoubleTuple.h
Pods/Headers/Private/Expecta/Expecta.h
Pods/Headers/Private/Expecta/ExpectaObject.h
Pods/Headers/Private/Expecta/ExpectaSupport.h
Pods/Headers/Private/Expecta/EXPExpect.h
Pods/Headers/Private/Expecta/EXPFloatTuple.h
Pods/Headers/Private/Expecta/EXPMatcher.h
Pods/Headers/Private/Expecta/EXPMatcherHelpers.h
Pods/Headers/Private/Expecta/EXPMatchers+beCloseTo.h
Pods/Headers/Private/Expecta/EXPMatchers+beFalsy.h
Pods/Headers/Private/Expecta/EXPMatchers+beginWith.h
Pods/Headers/Private/Expecta/EXPMatchers+beGreaterThan.h
Pods/Headers/Private/Expecta/EXPMatchers+beGreaterThanOrEqualTo.h
Pods/Headers/Private/Expecta/EXPMatchers+beIdenticalTo.h
Pods/Headers/Private/Expecta/EXPMatchers+beInstanceOf.h
Pods/Headers/Private/Expecta/EXPMatchers+beInTheRangeOf.h
Pods/Headers/Private/Expecta/EXPMatchers+beKindOf.h
Pods/Headers/Private/Expecta/EXPMatchers+beLessThan.h
Pods/Headers/Private/Expecta/EXPMatchers+beLessThanOrEqualTo.h
Pods/Headers/Private/Expecta/EXPMatchers+beNil.h
Pods/Headers/Private/Expecta/EXPMatchers+beSubclassOf.h
Pods/Headers/Private/Expecta/EXPMatchers+beSupersetOf.h
Pods/Headers/Private/Expecta/EXPMatchers+beTruthy.h
Pods/Headers/Private/Expecta/EXPMatchers+conformTo.h
Pods/Headers/Private/Expecta/EXPMatchers+contain.h
Pods/Headers/Private/Expecta/EXPMatchers+endWith.h
Pods/Headers/Private/Expecta/EXPMatchers+equal.h
Pods/Headers/Private/Expecta/EXPMatchers+haveCountOf.h
Pods/Headers/Private/Expecta/EXPMatchers+match.h
Pods/Headers/Private/Expecta/EXPMatchers+postNotification.h
Pods/Headers/Private/Expecta/EXPMatchers+raise.h
Pods/Headers/Private/Expecta/EXPMatchers+raiseWithReason.h
Pods/Headers/Private/Expecta/EXPMatchers+respondTo.h
Pods/Headers/Private/Expecta/EXPMatchers.h
Pods/Headers/Private/Expecta/EXPUnsupportedObject.h
Pods/Headers/Private/Expecta/NSObject+Expecta.h
Pods/Headers/Private/Expecta/NSValue+Expecta.h
Pods/Headers/Private/Expecta+Snapshots/ExpectaObject+FBSnapshotTest.h
Pods/Headers/Private/Expecta+Snapshots/EXPMatchers+FBSnapshotTest.h
Pods/Headers/Private/FBSnapshotTestCase/FBSnapshotTestCase.h
Pods/Headers/Private/FBSnapshotTestCase/FBSnapshotTestCasePlatform.h
Pods/Headers/Private/FBSnapshotTestCase/FBSnapshotTestController.h
Pods/Headers/Private/FBSnapshotTestCase/UIApplication+StrictKeyWindow.h
Pods/Headers/Private/FBSnapshotTestCase/UIImage+Compare.h
Pods/Headers/Private/FBSnapshotTestCase/UIImage+Diff.h
Pods/Headers/Private/FBSnapshotTestCase/UIImage+Snapshot.h
Pods/Headers/Private/Specta/Specta.h
Pods/Headers/Private/Specta/SpectaDSL.h
Pods/Headers/Private/Specta/SpectaTypes.h
Pods/Headers/Private/Specta/SpectaUtility.h
Pods/Headers/Private/Specta/SPTCallSite.h
Pods/Headers/Private/Specta/SPTCompiledExample.h
Pods/Headers/Private/Specta/SPTExample.h
Pods/Headers/Private/Specta/SPTExampleGroup.h
Pods/Headers/Private/Specta/SPTExcludeGlobalBeforeAfterEach.h
Pods/Headers/Private/Specta/SPTGlobalBeforeAfterEach.h
Pods/Headers/Private/Specta/SPTSharedExampleGroups.h
Pods/Headers/Private/Specta/SPTSpec.h
Pods/Headers/Private/Specta/SPTTestSuite.h
Pods/Headers/Private/Specta/XCTest+Private.h
Pods/Headers/Private/Specta/XCTestCase+Specta.h
Pods/Headers/Public/Expecta/EXPBlockDefinedMatcher.h
Pods/Headers/Public/Expecta/EXPDefines.h
Pods/Headers/Public/Expecta/EXPDoubleTuple.h
Pods/Headers/Public/Expecta/Expecta.h
Pods/Headers/Public/Expecta/ExpectaObject.h
Pods/Headers/Public/Expecta/ExpectaSupport.h
Pods/Headers/Public/Expecta/EXPExpect.h
Pods/Headers/Public/Expecta/EXPFloatTuple.h
Pods/Headers/Public/Expecta/EXPMatcher.h
Pods/Headers/Public/Expecta/EXPMatcherHelpers.h
Pods/Headers/Public/Expecta/EXPMatchers+beCloseTo.h
Pods/Headers/Public/Expecta/EXPMatchers+beFalsy.h
Pods/Headers/Public/Expecta/EXPMatchers+beginWith.h
Pods/Headers/Public/Expecta/EXPMatchers+beGreaterThan.h
Pods/Headers/Public/Expecta/EXPMatchers+beGreaterThanOrEqualTo.h
Pods/Headers/Public/Expecta/EXPMatchers+beIdenticalTo.h
Pods/Headers/Public/Expecta/EXPMatchers+beInstanceOf.h
Pods/Headers/Public/Expecta/EXPMatchers+beInTheRangeOf.h
Pods/Headers/Public/Expecta/EXPMatchers+beKindOf.h
Pods/Headers/Public/Expecta/EXPMatchers+beLessThan.h
Pods/Headers/Public/Expecta/EXPMatchers+beLessThanOrEqualTo.h
Pods/Headers/Public/Expecta/EXPMatchers+beNil.h
Pods/Headers/Public/Expecta/EXPMatchers+beSubclassOf.h
Pods/Headers/Public/Expecta/EXPMatchers+beSupersetOf.h
Pods/Headers/Public/Expecta/EXPMatchers+beTruthy.h
Pods/Headers/Public/Expecta/EXPMatchers+conformTo.h
Pods/Headers/Public/Expecta/EXPMatchers+contain.h
Pods/Headers/Public/Expecta/EXPMatchers+endWith.h
Pods/Headers/Public/Expecta/EXPMatchers+equal.h
Pods/Headers/Public/Expecta/EXPMatchers+haveCountOf.h
Pods/Headers/Public/Expecta/EXPMatchers+match.h
Pods/Headers/Public/Expecta/EXPMatchers+postNotification.h
Pods/Headers/Public/Expecta/EXPMatchers+raise.h
Pods/Headers/Public/Expecta/EXPMatchers+raiseWithReason.h
Pods/Headers/Public/Expecta/EXPMatchers+respondTo.h
Pods/Headers/Public/Expecta/EXPMatchers.h
Pods/Headers/Public/Expecta/EXPUnsupportedObject.h
Pods/Headers/Public/Expecta/NSObject+Expecta.h
Pods/Headers/Public/Expecta/NSValue+Expecta.h
Pods/Headers/Public/Expecta+Snapshots/ExpectaObject+FBSnapshotTest.h
Pods/Headers/Public/Expecta+Snapshots/EXPMatchers+FBSnapshotTest.h
Pods/Headers/Public/FBSnapshotTestCase/FBSnapshotTestCase.h
Pods/Headers/Public/FBSnapshotTestCase/FBSnapshotTestCasePlatform.h
Pods/Headers/Public/FBSnapshotTestCase/FBSnapshotTestController.h
Pods/Headers/Public/Specta/Specta.h
Pods/Headers/Public/Specta/SpectaDSL.h
Pods/Headers/Public/Specta/SpectaTypes.h
Pods/Headers/Public/Specta/SpectaUtility.h
Pods/Headers/Public/Specta/SPTCallSite.h
Pods/Headers/Public/Specta/SPTCompiledExample.h
Pods/Headers/Public/Specta/SPTExample.h
Pods/Headers/Public/Specta/SPTExampleGroup.h
Pods/Headers/Public/Specta/SPTExcludeGlobalBeforeAfterEach.h
Pods/Headers/Public/Specta/SPTGlobalBeforeAfterEach.h
Pods/Headers/Public/Specta/SPTSharedExampleGroups.h
Pods/Headers/Public/Specta/SPTSpec.h
Pods/Headers/Public/Specta/SPTTestSuite.h
Pods/Headers/Public/Specta/XCTest+Private.h
Pods/Headers/Public/Specta/XCTestCase+Specta.h
Pods/Pods.xcodeproj/project.pbxproj
Pods/Pods.xcodeproj/xcuserdata/javiercalatravallaveria.xcuserdatad/xcschemes/Expecta+Snapshots.xcscheme
Pods/Pods.xcodeproj/xcuserdata/javiercalatravallaveria.xcuserdatad/xcschemes/Expecta.xcscheme
Pods/Pods.xcodeproj/xcuserdata/javiercalatravallaveria.xcuserdatad/xcschemes/FBSnapshotTestCase.xcscheme
Pods/Pods.xcodeproj/xcuserdata/javiercalatravallaveria.xcuserdatad/xcschemes/Pods-SnapshotTestingDemoTests.xcscheme
Pods/Pods.xcodeproj/xcuserdata/javiercalatravallaveria.xcuserdatad/xcschemes/Specta.xcscheme
Pods/Pods.xcodeproj/xcuserdata/javiercalatravallaveria.xcuserdatad/xcschemes/xcschememanagement.plist
Pods/Specta/LICENSE
Pods/Specta/README.md
Pods/Specta/Specta/Specta/Specta.h
Pods/Specta/Specta/Specta/SpectaDSL.h
Pods/Specta/Specta/Specta/SpectaDSL.m
Pods/Specta/Specta/Specta/SpectaTypes.h
Pods/Specta/Specta/Specta/SpectaUtility.h
Pods/Specta/Specta/Specta/SpectaUtility.m
Pods/Specta/Specta/Specta/SPTCallSite.h
Pods/Specta/Specta/Specta/SPTCallSite.m
Pods/Specta/Specta/Specta/SPTCompiledExample.h
Pods/Specta/Specta/Specta/SPTCompiledExample.m
Pods/Specta/Specta/Specta/SPTExample.h
Pods/Specta/Specta/Specta/SPTExample.m
Pods/Specta/Specta/Specta/SPTExampleGroup.h
Pods/Specta/Specta/Specta/SPTExampleGroup.m
Pods/Specta/Specta/Specta/SPTExcludeGlobalBeforeAfterEach.h
Pods/Specta/Specta/Specta/SPTGlobalBeforeAfterEach.h
Pods/Specta/Specta/Specta/SPTSharedExampleGroups.h
Pods/Specta/Specta/Specta/SPTSharedExampleGroups.m
Pods/Specta/Specta/Specta/SPTSpec.h
Pods/Specta/Specta/Specta/SPTSpec.m
Pods/Specta/Specta/Specta/SPTTestSuite.h
Pods/Specta/Specta/Specta/SPTTestSuite.m
Pods/Specta/Specta/Specta/XCTest+Private.h
Pods/Specta/Specta/Specta/XCTestCase+Specta.h
Pods/Specta/Specta/Specta/XCTestCase+Specta.m
Pods/Target Support Files/Expecta/Expecta-dummy.m
Pods/Target Support Files/Expecta/Expecta-prefix.pch
Pods/Target Support Files/Expecta/Expecta.xcconfig
Pods/Target Support Files/Expecta+Snapshots/Expecta+Snapshots-dummy.m
Pods/Target Support Files/Expecta+Snapshots/Expecta+Snapshots-prefix.pch
Pods/Target Support Files/Expecta+Snapshots/Expecta+Snapshots.xcconfig
Pods/Target Support Files/FBSnapshotTestCase/FBSnapshotTestCase-dummy.m
Pods/Target Support Files/FBSnapshotTestCase/FBSnapshotTestCase-prefix.pch
Pods/Target Support Files/FBSnapshotTestCase/FBSnapshotTestCase.xcconfig
Pods/Target Support Files/Pods-SnapshotTestingDemoTests/Pods-SnapshotTestingDemoTests-acknowledgements.markdown
Pods/Target Support Files/Pods-SnapshotTestingDemoTests/Pods-SnapshotTestingDemoTests-acknowledgements.plist
Pods/Target Support Files/Pods-SnapshotTestingDemoTests/Pods-SnapshotTestingDemoTests-dummy.m
Pods/Target Support Files/Pods-SnapshotTestingDemoTests/Pods-SnapshotTestingDemoTests-frameworks.sh
Pods/Target Support Files/Pods-SnapshotTestingDemoTests/Pods-SnapshotTestingDemoTests-resources.sh
Pods/Target Support Files/Pods-SnapshotTestingDemoTests/Pods-SnapshotTestingDemoTests.debug.xcconfig
Pods/Target Support Files/Pods-SnapshotTestingDemoTests/Pods-SnapshotTestingDemoTests.release.xcconfig
Pods/Target Support Files/Specta/Specta-dummy.m
Pods/Target Support Files/Specta/Specta-prefix.pch
Pods/Target Support Files/Specta/Specta.xcconfig
contents.xcworkspacedata
